
<link href="{{ asset('css/carousel1.css') }}" rel="stylesheet"/>

<div class="container col-10">


    <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner col-12">
        <div class="carousel-item active">
        <div class="row">
                <div class="col-3">
                    <img src="{{ asset('images/1.jpeg') }}" alt="Los Angeles" width="220" height="300">
                    <h5 class="m_price"><b>£45</b></h5>  <div class="row p"> <p id="old_price">£80</p> <p id="perc_off">65% OFF</p> 
                </div>
                </div>

                <div class="col-3"><img src="{{ asset('images/2.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£80</b> <p id="perc_off">65% OFF</p>  </h5></div>
                <div class="col-3"><img src="{{ asset('images/3.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£70</b></h5> <p id="perc_off">65% OFF</p>  </div>
                <div class="col-3"><img src="{{ asset('images/4.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£30</b></h5><p id="perc_off">65% OFF</p> </div>
                
               
        </div>
        </div>  

        <div class="carousel-item">
        <div class="row">
                <div class="col-3"><img src="{{ asset('images/5.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£10</b></h5></div>
                <div class="col-3"><img src="{{ asset('images/6.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£40</b></h5></div>
                <div class="col-3"><img src="{{ asset('images/7.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£70</b></h5></div>
                <div class="col-3"><img src="{{ asset('images/8.jpeg') }}" alt="Los Angeles" width="220" height="300"><h5 class="m_price"><b>£85</b></h5></div>
              
        </div>
        </div>  
        
    
    
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    </div>


</div>
